# Environment (LOCAL, DEV, QA, PROD)
DB_ENVIRONMENT=YOUR_DB_ENVIRONMENT

# Data Base Credentials
DB_SERVER_NAME=YOUR_DB_SERVER_NAME
DB_DATABASE_NAME=YOUR_BCIE_DB
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD

# Azure Key Vault
AZ_TENANT_ID=YOUR_AZ_TENANT_ID
AZ_CLIENT_ID=YOUR_AZ_CLIENT_ID
AZ_CLIENT_SECRET=YOUR_AZ_CLIENT_SECRET
AZ_KEY_VAULT=YOUR_AZ_KEY_VAULT