# Environment (DEV, QA, PROD)
DJOT_DB_ENVIRONMENT=YOUR_DJOT_DB_ENVIRONMENT

# Data Base Credentials
DJOET_DB_SERVER_NAME=YOUR_DJOET_DB_SERVER_NAME
DJOET_DB_DATABASE_NAME=YOUR_BCIE_DJOET_DB
DJOET_DB_USERNAME=YOUR_DJOET_DB_USERNAME
DJOET_DB_PASSWORD=YOUR_DJOET_DB_PASSWORD

DJOET_AZ_TENANT_ID=YOUR_DJOET_AZ_TENANT_ID
DJOET_AZ_CLIENT_ID=YOUR_DJOET_AZ_CLIENT_ID
DJOET_AZ_CLIENT_SECRET=YOUR_DJOET_AZ_CLIENT_SECRET
DJOET_AZ_KEY_VAULT=YOUR_DJOET_AZ_KEY_VAULT
